div{
    display:flex;
    border:1px solid black;
    align-self:center;
    position:relative;
    }
#main{
    width:60%;
    height:200px;
    background-color: rgb(192, 225, 226);
    left:20%;
    top:150px;
    }
    div.msg{
        top: 160px;
        width:40%;
        left:45%;
        height:40px;
        text-align: center;
        border-width:0px;
        padding: auto;
    }
    #scores{
        top:160px;
        height: 20px;
        width:40%;
        left:30%;
        text-align: center;
        padding: auto;
    }
    #scores>div{
        border-width: 0px;
        margin:auto;
    }
button{
    display:flex;
    margin:auto;
    height:60px;
    width:80px;
    padding:20px 20px 15px 20px;
}
button[value="rock"]{
    background-color: rgb(245, 193, 228);
}
button[value="paper"]{
    background-color:rgb(212, 180, 241);
}
button[value="scissor"]{
    background-color:rgb(194, 232, 210);
}
button[value="rock"]:hover{
    background-color: rgb(235, 183, 218);
}
button[value="paper"]:hover{
    background-color:rgb(202, 170, 231);
}
button[value="scissor"]:hover{
    background-color:rgb(184, 222, 200);
}
